@font-face {
    font-family: "jua";
    src: url("../font/BMJUA_ttf.ttf");
}
text{
    font-family: 'Black And White Picture', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.Quest {
    display: flex;
    font-family: "jua";
    font-size: 20px;
    
}

img {
    align-items: center;

    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
}
.background {
    width: 720px;
    height: 405px;
}

input {
    cursor: pointer;
    border-style: groove;
    border-radius: 6px;
    padding: 5px;
}
.TitleScene {
    display: flex;
}
.TitleScene.active {
    display: none;
}
.FirstScene ,.SecondScene, .ThirdScene, .FourthScene__bef, .FourthScene__aft, 
 .FifthScene, .LastScene, .ClearScene {
    display: none;
}
.FirstScene.active ,.SecondScene.active, .ThirdScene.active, .FourthScene__bef.active,
 .FourthScene__aft.active, .FifthScene.active, .LastScene.active, .ClearScene.active{
    display:flex;
}



.Quest.end {
    display: none;
}



@media screen 
{

}

